Q. 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [4]:
test1 = "this is a test of emergency text system "
file = open("text.txt","w")
file.write(test1)

40

Q 2.RRead the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
file2 = open('text.txt','r')
test2 = file2.readline()
test2

'this is a test of emergency text system '

In [6]:
if test1 == test2:
    print ("both are the same ")

both are the same

Q3reate a CSV file called books.csv by using these lines: title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992

In [18]:
import csv
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

Q4 Q.Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [19]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

In [20]:
#Q5 Read books.csv and insert its data into the book table.

import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')

In [21]:
#Q. Select and print the title column from the book table in alphabetical order.

c.execute('select title from books order by title asc')
print(c.fetchall())

[]

In [22]:
#Q. From the book table, select and print all columns in the order of publication.

c.execute('select title, author,year from books order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

Empty DataFrame
Columns: [title, author, year]
Index: []

In [ ]:
#